/* @group typefaces */

	body, 
	input, 
	textarea {
		font-family: sans-serif;
	}

	@font-face {
		font-family: 'Covered By Your Grace';
		src: url('/assets/type/coveredbyyourgrace-webfont.eot');
		src: url('/assets/type/coveredbyyourgrace-webfont.eot?#iefix') format('embedded-opentype'),
			url('/assets/type/coveredbyyourgrace-webfont.woff') format('woff'),
			url('/assets/type/coveredbyyourgrace-webfont.ttf') format('truetype'),
			url('/assets/type/coveredbyyourgrace-webfont.svg#CoveredByYourGraceRegular') format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'Alternate Gothic 3';
		src: url('/assets/type/AlternateGothicNo3-webfont.eot');
		src: url('/assets/type/AlternateGothicNo3-webfont.eot?#iefix') format('embedded-opentype'),
			url('/assets/type/AlternateGothicNo3-webfont.woff') format('woff'),
			url('/assets/type/AlternateGothicNo3-webfont.ttf') format('truetype'),
			url('/assets/type/AlternateGothicNo3-webfont.svg#AlternateGothicNo3') format('svg');
		font-weight: bold;
		font-style: normal;
	}
/* @end */
